body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Copperplate', sans-serif;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    color: white;
    margin: 0;
    padding: 20px 0;
}

h2 {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 10px;
}

header {
    background-color: black;
    padding: 20px;
}

.content {
    display: flex;
    padding: 20px;
}

nav {
    position: fixed; 
    top: 250px; 
    right: 5px; 
    width: 200px; 
    background-color: rgba(0, 2, 0, 0.4); 
    padding: 20px;
    box-shadow: 2px 0 5px rgba(255, 255, 255, 0.2); 
    border-radius: 10px; 
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

nav ul li {
    margin: 20px 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 28px;
    font-weight: bold;
    display: block;
}

nav ul li a:hover {
    color: lightgreen;
}

section {
    width: 70%; 
}

.video-section {
    margin-left: 20px; 
}

footer {
    position: fixed;
    bottom: 0; 
    width: 100%; 
    padding: 20px;
    background-color: black;
}

meow {
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    padding: 20px;
    border-radius: 10px; 
}

footer p:hover {
    color: orange;
}

frog {
    position: fixed; 
    left: 50px
    width: 30px;
    height: 30x;
}

@media screen and (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    section {
        width: 100%; 
    }

    nav {
        position: static; 
        width: 100%;
        top: 0; 
        padding: 10px;
    }
}

table {
    position: fixed; 
    left: 200px;
    top: 150px; 
    width: 600px;
    border-collapse: collapse;
    background-color: white;
    text-align: left;
    align-items: center;
    height: 600px;
    margin: 10px;
}

th, td {
    padding: 10px;
    color: black;
}

th {
    background-color: orange;
}

tr:hover {
    background-color: lightgrey;
}

.instagram-container {
    position: absolute; 
    top: 180px; 
    right: 450px; 
}

.spotify-container {
    position: absolute; 
    top: 180px; 
    left: 350px; 
}
